# --- DOSSIERS DE DONNÉES DOCKER / MARIADB ---
.data/
docker-compose.override.yml

# --- LARAVEL CORE ---
/vendor
.env
.env.backup
.env.production
composer.lock
package-lock.json

# --- STOCKAGE ET CACHE ---
/storage/*.key
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*

# --- PUBLIC / ASSETS ---
/public/storage
/public/hot
/public/build

# --- COMPILATION (VITE / MIX) ---
node_modules
npm-debug.log
yarn-error.log
dist

# --- TESTS ---
.phpunit.result.cache
.phpunit.cache
tests/Schemas

# --- SYSTÈME & IDE ---
.DS_Store
Thumbs.db
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

